<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<display-name>超市账单管理系统</display-name>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.zl.servlet.LoginServlet</servlet-class>
	</servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserQueryAllServlet</servlet-name>
    <servlet-class>com.zl.servlet.UserQueryAllServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserAddServlet</servlet-name>
    <servlet-class>com.zl.servlet.UserAddServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserQueryByIdServlet</servlet-name>
    <servlet-class>com.zl.servlet.UserQueryByIdServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserDeleteByIdServlet</servlet-name>
    <servlet-class>com.zl.servlet.UserDeleteByIdServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserUpdateServlet</servlet-name>
    <servlet-class>com.zl.servlet.UserUpdateServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserRepwdServlet</servlet-name>
    <servlet-class>com.zl.servlet.UserRepwdServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserQueryLikeServlet</servlet-name>
    <servlet-class>com.zl.servlet.UserQueryLikeServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginOutServlet</servlet-name>
    <servlet-class>com.zl.servlet.LoginOutServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserUpdatePwdServlet</servlet-name>
    <servlet-class>com.zl.servlet.UserUpdatePwdServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>BillQueryAllServlet</servlet-name>
    <servlet-class>com.zl.servlet.BillQueryAllServlet</servlet-class>
  </servlet>











	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/loginServlet</url-pattern>
	</servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserQueryAllServlet</servlet-name>
    <url-pattern>/userQueryAll</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserAddServlet</servlet-name>
    <url-pattern>/userAdd</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserQueryByIdServlet</servlet-name>
    <url-pattern>/userQueryById</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserDeleteByIdServlet</servlet-name>
    <url-pattern>/userDeleteById</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserUpdateServlet</servlet-name>
    <url-pattern>/userUpdate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserRepwdServlet</servlet-name>
    <url-pattern>/userRepwd</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserQueryLikeServlet</servlet-name>
    <url-pattern>/userQueryLike</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginOutServlet</servlet-name>
    <url-pattern>/loginOut</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserUpdatePwdServlet</servlet-name>
    <url-pattern>/userUpdatePwd</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BillQueryAllServlet</servlet-name>
    <url-pattern>/billQueryAll</url-pattern>
  </servlet-mapping>

	<!-- filter:字符乱码 -->
	<filter>
		<filter-name>characterEncodingFilter</filter-name>
		<filter-class>com.zl.filter.CharacterEncodingFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>characterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>validateUserLoginFilter</filter-name>
		<filter-class>com.zl.filter.ValidateUserLoginFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>validateUserLoginFilter</filter-name>
		<url-pattern>/main.jsp</url-pattern>		
	</filter-mapping>
	<welcome-file-list>
		<welcome-file>login.jsp</welcome-file>
	</welcome-file-list>
</web-app>
